<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.mymusicapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_v1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_v1_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />


            </intent-filter>
        </activity>
        <activity android:name=".GenresActivity"
                android:label="@string/genres"
                />
            <activity android:name=".NowPlayingActivity"
                android:label="@string/now_playing"
                />
        <activity android:name=".StationsActivity"
            android:label="@string/category_station"
            />

        <activity android:name=".GetExtraActivity"
            />

    </application>

</manifest>